<br>
<br>
<select title={{title}}>
    <option hidden selected>{{hiddenOption}}</option>
    <option value="value1">{{spain}}</option>
    <option value="value2">{{france}}</option>
    <option value="value3">{{italy}}</option>
</select>




